#em1Coll .ico_movie {
    display: inline-block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    background: url("//search1.daumcdn.net/search/statics/common/pm/ico_tvp_241226.svg");
    background-size: 176px 32px;
    vertical-align: top
}

#em1Coll .ico_movie.ico_kakao {
    width: 37px;
    height: 17px;
    background-position: 0 0
}

.mobile #em1Coll {
    position: relative
}

#em1Coll .c-section-tab li.on a {
    position: relative;
    font-weight: bold;
    color: #000;
    color: var(--fcBasic)
}

#em1Coll .c-section-tab li.on a::after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.86);
    border-bottom: 1px solid var(--fcB1);
    content: ""
}

#em1Coll .c-section-tab li.on:first-child a {
    padding-left: 4px
}

#em1Coll .c-tit-navi li.on a {
    color: #000;
    color: var(--baseForeground);
    pointer-events: none
}

#em1Coll .c-tit-exact .area_tit {
    padding-bottom: 8px
}

#em1Coll .c-tit-exact .area_tit:only-child {
    margin-right: var(--mgSpace)
}

#em1Coll .c-tit-exact .inner_header {
    vertical-align: middle
}

#em1Coll .c-tit-exact .tit-g,#em1Coll .c-tit-exact .conts-combo {
    display: inline;
    white-space: normal
}

#em1Coll .c-tit-exact .wrap_badge,#em1Coll .c-tit-exact .wrap_badge .badge_comm2 {
    vertical-align: .2rem
}

#em1Coll .c-tit-exact .wrap_badge {
    display: inline;
    padding-left: 0
}

#em1Coll .c-tit-exact .conts-combo .txt_info+.txt_info::before {
    margin-left: 8px;
    margin-right: 8px
}

#em1Coll .box_addition .wrap_thumb .wrap_badge {
    top: 8px;
    left: 8px;
    bottom: auto;
    right: auto
}

#em1Coll .box_addition .wrap_thumb .wrap_badge .badge-basic {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    line-height: 20px;
    padding: 0;
    background-color: #2c2e33
}

#em1Coll .box_shortcut li:only-child {
    width: 100%
}

#em1Coll .box_shortcut li:only-child .c-item-content {
    width: auto
}

#em1Coll .box_shortcut li:only-child .c-item-content .wrap_item {
    justify-content: space-between;
    min-height: auto;
    flex-direction: row;
    align-items: center
}

#em1Coll .box_shortcut li:only-child .c-item-content>a {
    height: 56px
}

#em1Coll .box_shortcut li:only-child .c-item-content .item-title {
    margin-right: 16px;
    padding-bottom: 0;
    align-items: center;
    justify-content: start
}

#em1Coll .box_shortcut li:only-child .c-item-content .item-title .wrap_badge {
    margin: 5px 0 0 6px
}

#em1Coll .box_shortcut li:only-child.ranking .wrap_cont {
    text-align: right
}

#em1Coll .box_shortcut .c-comp-card .c-carousel {
    height: auto;
    padding-bottom: 16px
}

#em1Coll .box_shortcut li:nth-child(n+2) {
    margin-left: 10px
}

#em1Coll .box_shortcut li.ranking:not(:only-child) .c-item-content {
    width: 178px
}

#em1Coll .box_shortcut li .c-item-content {
    width: 136px
}

#em1Coll .box_shortcut li .c-item-content>a {
    padding: 16px;
    height: 80px;
    box-sizing: border-box;
    justify-content: space-between
}

#em1Coll .box_shortcut li .c-item-content .wrap_item {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-sizing: border-box;
    min-height: 48px;
    width: 100%;
    justify-content: space-between
}

#em1Coll .box_shortcut li .c-item-content .item-title {
    display: flex;
    justify-content: space-between
}

#em1Coll .box_shortcut li .c-item-content .item-title .badge_comm2 {
    margin: 0
}

#em1Coll .box_shortcut li .c-item-content .tit-g {
    min-width: 36px;
    font-weight: 700;
    -webkit-line-clamp: 1
}

#em1Coll .box_shortcut li .c-item-content .wrap_circle {
    display: flex;
    margin-left: -2px
}

#em1Coll .box_shortcut li .c-item-content .wrap_circle .ico_cast,#em1Coll .box_shortcut li .c-item-content .wrap_circle .ico_ott {
    position: relative
}

#em1Coll .box_shortcut li .c-item-content .wrap_circle>.ico_cast,#em1Coll .box_shortcut li .c-item-content .wrap_circle .ico_ott {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid var(--baseBackground);
    overflow: hidden
}

#em1Coll .box_shortcut li .c-item-content .wrap_circle>.ico_cast .thumb_bf,#em1Coll .box_shortcut li .c-item-content .wrap_circle .ico_ott .thumb_bf {
    width: 30px;
    height: 30px
}

#em1Coll .box_shortcut li .c-item-content .wrap_circle>.ico_cast .thumb_bf::after,#em1Coll .box_shortcut li .c-item-content .wrap_circle .ico_ott .thumb_bf::after {
    border-radius: 100%
}

#em1Coll .box_shortcut li .c-item-content .wrap_circle>.ico_cast img,#em1Coll .box_shortcut li .c-item-content .wrap_circle .ico_ott img {
    width: 100%;
    height: 100%;
    background-color: #f3f4f7
}

#em1Coll .box_shortcut li .c-item-content .wrap_circle>.ico_cast+.ico_cast,#em1Coll .box_shortcut li .c-item-content .wrap_circle>.ico_cast+.ico_ott,#em1Coll .box_shortcut li .c-item-content .wrap_circle .ico_ott+.ico_cast,#em1Coll .box_shortcut li .c-item-content .wrap_circle .ico_ott+.ico_ott {
    margin-left: -8px
}

#em1Coll .box_shortcut li .c-item-content .wrap_circle .ico_ott::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border: 1px solid var(--colorB3);
    border-radius: 100%;
    box-sizing: border-box;
    content: ""
}

.for_u2 #em1Coll .box_shortcut li .c-item-content .wrap_cont .txt_shortcut,.for_u3 #em1Coll .box_shortcut li .c-item-content .wrap_cont .txt_shortcut,.for_u4 #em1Coll .box_shortcut li .c-item-content .wrap_cont .txt_shortcut,.for_u2 #em1Coll .box_shortcut li .c-item-content .wrap_cont .fc_mid2,.for_u3 #em1Coll .box_shortcut li .c-item-content .wrap_cont .fc_mid2,.for_u4 #em1Coll .box_shortcut li .c-item-content .wrap_cont .fc_mid2 {
    line-height: 1
}

#em1Coll .box_shortcut li .c-item-content .wrap_cont>span {
    color: var(--fcSub)
}

#em1Coll .box_shortcut li .c-item-content .wrap_cont .txt_sub {
    display: block;
    font-size: 1.4rem;
    line-height: 1.4285714286;
    color: rgba(var(--baseForeground-rgb), 0.44);
    color: var(--fcOpt)
}

.mobile #em1Coll .box_shortcut li .c-item-content .wrap_cont .txt_sub {
    margin-top: 2px
}

@media screen and (max-width: 320px) {
    .mobile #em1Coll .box_shortcut li .c-item-content .wrap_cont .txt_sub {
        display:none
    }
}

#em1Coll .box_shortcut li .c-item-content .item-thumb {
    margin: 0 0 0 4px;
    float: none
}

#em1Coll .c-item-exact {
    margin-bottom: 0;
    padding: 16px 0
}

#em1Coll .c-item-exact .item-thumb {
    margin-bottom: 0
}

.pc #em1Coll .c-item-exact .conts-richx {
    display: block;
    margin-bottom: 0
}

.pc #em1Coll .c-item-exact .conts-richx dt {
    min-width: 4.2rem;
    margin-right: 12px
}

.windows.pc #em1Coll .c-item-exact .conts-richx dt {
    min-width: 4.8rem
}

.pc #em1Coll .c-item-exact .conts-richx dd {
    overflow: hidden;
    margin-bottom: 6px
}

.pc #em1Coll .c-item-exact .conts-richx dd:has(.q_tooltip) {
    display: block;
    overflow: visible;
    float: none
}

#em1Coll .gem-richs-extend {
    color: rgba(0, 0, 0, 0.44);
    color: var(--fcOpt)
}

#em1Coll .cont_series .c-list-basic li {
    margin-bottom: 16px
}

#em1Coll .cont_info .c-item-exact .gem-star-point .txt_tit {
    display: inline-block;
    margin-right: 4px;
    color: rgba(0, 0, 0, 0.76);
    color: var(--fcSub);
    font-size: 1.6rem
}

#em1Coll .cont_info .c-item-exact .gem-star-point .txt-split {
    color: #ff4e33;
    font-size: 1.6rem
}

#em1Coll .cont_info .c-item-exact .gem-star-point .txt-split::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    margin: -2px 6px 0;
    background: rgba(0, 0, 0, 0.16);
    background: var(--colorB1);
    vertical-align: middle;
    border-radius: 50%
}

#em1Coll .cont_info .c-item-exact .gem-star-point .ico-pmp {
    margin-top: -4px
}

#em1Coll .cont_info .c-item-exact .gem-star-point+.gem-star-point .txt-split::after {
    display: none
}

#em1Coll .cont_info .c-item-exact .gem-star-point:only-child .txt-split::after {
    display: none
}

#em1Coll .cont_info .c-item-exact .txt-split::after {
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 50%
}

#em1Coll .cont_info .c-item-exact .conts-richx .link_more {
    display: inline-block;
    color: var(--fcOpt)
}

#em1Coll .cont_info .c-item-exact .conts-richx .q_tooltip {
    display: inline-block;
    vertical-align: top;
    margin-top: -2px
}

#em1Coll .cont_info .c-item-exact .conts-richx dd:last-child {
    margin-bottom: 0
}

#em1Coll .cont_info .q_flicking {
    position: relative;
    overflow: visible;
    margin-bottom: 16px
}

#em1Coll .cont_info .q_flicking .flipsnap_view {
    border-radius: 10px
}

#em1Coll .cont_info .q_flicking .wrap_thumb .thumb_bf {
    height: 100%;
    background-color: #000
}

#em1Coll .cont_info .q_flicking .wrap_thumb .thumb_bf img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    border-radius: 0
}

#em1Coll .cont_info .q_flicking .wrap_tit {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: 64px;
    border-radius: 0 0 8px 8px
}

#em1Coll .cont_info .q_flicking .tit_thumb {
    position: absolute;
    left: 20px;
    bottom: 12px;
    overflow: hidden;
    width: calc(100% - 40px);
    font-size: 1.6rem;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center
}

#em1Coll .cont_info .compo-paging {
    line-height: 20px;
    border-top: 0 none
}

#em1Coll .cont_info .compo-paging .inner_paging {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.48);
    color: #fff
}

#em1Coll .cont_info .compo-paging .inner_paging .num_current {
    font-weight: normal;
    color: #fff;
    margin: 0 0 0 6px
}

#em1Coll .cont_info .compo-paging .inner_paging .num_total {
    margin: 0 6px 0 0
}

#em1Coll .cont_info .compo-paging [class*=btn_] {
    position: absolute;
    top: 50%;
    background: #fff;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border: 0 none
}

#em1Coll .cont_info .compo-paging [class*=btn_] .ico-pmp {
    width: 12px;
    height: 12px;
    background-position: -8px -56px;
    filter: var(--iconInvert, none);
    margin: 4px 0 0 2px;
    opacity: .6
}

#em1Coll .cont_info .compo-paging [class*=btn_] .ico-pmp:hover {
    opacity: 1
}

#em1Coll .cont_info .compo-paging .btn_prev {
    left: -25px
}

#em1Coll .cont_info .compo-paging .btn_next {
    right: -25px
}

#em1Coll .cont_info .desc_story {
    font-size: 1.6rem;
    line-height: 1.4375;
    margin-bottom: 16px
}

#em1Coll .cont_info .box_shortcut .gem-star-point {
    font-size: 1.6rem
}

#em1Coll .cont_info .box_shortcut .gem-star-point .ico-pmp {
    vertical-align: -1px
}

#em1Coll .cont_info .box_graph {
    position: relative;
    height: 197px
}

#em1Coll .cont_info .ranking .wrap_cont span+span::before {
    content: " / "
}

#em1Coll .cont_info .wrap_ellipsis {
    margin-top: 6px
}

.mobile #em1Coll .cont_info .q_flicking .wrap_thumb {
    position: relative;
    height: 0;
    padding-bottom: 56.71%
}

.mobile #em1Coll .cont_info .q_flicking .wrap_thumb.ty_dimmed_gra .thumb_bf::before {
    z-index: 1
}

.mobile #em1Coll .cont_info .q_flicking .thumb_bf {
    position: absolute;
    width: 100%
}

.mobile #em1Coll .cont_info .q_flicking .compo-paging [class*=btn_] {
    display: none
}

.mobile #em1Coll .cont_info .box_graph {
    padding-bottom: 8px
}

.pc #em1Coll .cont_info .box_shortcut ul {
    display: flex
}

.pc #em1Coll .cont_info .box_shortcut li:first-child {
    flex: 1
}

.pc #em1Coll .cont_info .box_shortcut li:first-child .c-item-content {
    width: auto
}

.pc #em1Coll .cont_info .box_shortcut li:not(:first-child) {
    flex: 1
}

.pc #em1Coll .cont_info .box_shortcut li:not(:first-child) .c-item-content {
    width: auto
}

.pc #em1Coll .cont_info .q_flicking .compo-paging [class*=btn_] .ico-pmp {
    margin-top: 2px
}

.pc #em1Coll .cont_info .q_flicking .compo-paging [class*=btn_]:disabled {
    display: none
}

.pc #em1Coll .cont_info .q_flicking .wrap_thumb {
    overflow: hidden;
    height: 349px
}

.pc #em1Coll .cont_info .box_graph {
    padding-bottom: 12px
}

.pc #em1Coll .c-item-exact .item-thumb {
    width: 116px
}

#em1Coll .cont_cast .section_subtab .q_tab_header {
    position: relative;
    display: block;
    height: 46px;
    background-color: rgba(0, 0, 0, 0.02);
    background-color: var(--colorB5)
}

#em1Coll .cont_cast .section_subtab .q_tab_header::after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.06);
    background-color: var(--colorB3);
    content: ""
}

#em1Coll .cont_cast .section_subtab .q_tab_contents .c-tit-section:first-child {
    border-top: 0 none
}

#em1Coll .cont_cast .section_subtab .grid_xscroll li:first-child a {
    margin-left: 0;
    padding-left: 0
}

#em1Coll .cont_cast .section_subtab .grid_xscroll li.on a {
    color: var(--colorSubBlue)
}

#em1Coll .cont_cast .section_subtab .grid_xscroll li.on a:hover {
    color: var(--colorSubBlue)
}

#em1Coll .cont_cast .section_subtab .grid_xscroll li a {
    display: block;
    margin: 0 6px;
    padding: 12px 4px;
    font-size: 1.5rem;
    line-height: 20px;
    color: var(--fcB3)
}

#em1Coll .cont_cast .section_subtab .grid_xscroll li a:hover {
    text-decoration: none;
    color: var(--fcB1)
}

#em1Coll .cont_cast .c-tit-section:first-child {
    border-top: 0 none
}

#em1Coll .cont_cast .c-item-exact {
    padding-top: 0;
    padding-bottom: var(--mgSpace)
}

#em1Coll .cont_cast .c-item-exact .conts-richx {
    display: grid
}

#em1Coll .cont_cast .c-item-exact .conts-richx dt {
    margin-right: 0
}

#em1Coll .cont_cast .c-item-exact .conts-richx dd {
    margin-bottom: 0
}

#em1Coll .cont_cast .c-list-basic li {
    margin-bottom: 16px
}

#em1Coll .cont_watch .list_watch li {
    position: relative;
    min-height: 77px;
    border-bottom: 1px solid var(--colorB3);
    box-sizing: border-box;
    padding-right: 77px
}

#em1Coll .cont_watch .list_watch li.simple .wrap_tit {
    padding-top: 25px
}

#em1Coll .cont_watch .list_watch li.simple .wrap_desc {
    display: none
}

#em1Coll .cont_watch .tit_watch {
    font-size: 1.6rem
}

#em1Coll .cont_watch .link_watch {
    position: absolute;
    right: 0;
    top: 50%;
    height: 36px;
    margin-top: -18px;
    padding: 0 11px;
    border: 1px solid var(--colorB2);
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--fcSub);
    text-align: center;
    line-height: 34px;
    vertical-align: top;
    font-size: 1.4rem
}

#em1Coll .cont_watch .link_watch:hover {
    text-decoration: none
}

#em1Coll .cont_watch .desc_watch {
    color: var(--fcOpt);
    font-size: 1.4rem
}

#em1Coll .cont_watch .desc_watch+.desc_watch::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    margin: 0 6px;
    background-color: var(--colorB1);
    vertical-align: middle
}

#em1Coll .cont_watch .wrap_tit {
    display: flex;
    padding-top: 20px;
    min-height: 26px;
    line-height: 26px
}

#em1Coll .cont_watch .wrap_tit .thumb_img {
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-right: 8px
}

#em1Coll .cont_watch .wrap_tit .thumb_img::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--colorB3);
    box-sizing: border-box;
    border-radius: 50%;
    content: ""
}

#em1Coll .cont_watch .wrap_tit .thumb_img img {
    width: 100%;
    height: 100%
}

#em1Coll .cont_watch .wrap_tit .ico_kakao {
    margin: 5px 0 0 7px
}

#em1Coll .cont_watch .wrap_desc {
    margin-top: 5px;
    padding-bottom: 18px
}

.pc #em1Coll .cont_watch .link_watch:hover {
    border-color: rgba(0, 0, 0, 0.32)
}

#em1Coll .cont_schedule .list_schedule {
    overflow: hidden
}

#em1Coll .cont_schedule .list_schedule li {
    position: relative;
    min-height: 71px;
    margin-left: 22px;
    padding: 20px 0 0
}

#em1Coll .cont_schedule .list_schedule li:first-child::before {
    top: 30px
}

#em1Coll .cont_schedule .list_schedule li:last-child {
    margin-bottom: 20px
}

#em1Coll .cont_schedule .list_schedule li::before {
    position: absolute;
    top: -1px;
    bottom: 0;
    left: -18px;
    border-right: 2px solid rgba(var(--baseForeground-rgb), 0.08);
    content: ""
}

#em1Coll .cont_schedule .list_schedule li::after {
    position: absolute;
    top: 26px;
    left: -22px;
    width: 6px;
    height: 6px;
    border: 2px solid rgba(var(--baseForeground-rgb), 0.16);
    border-radius: 100%;
    background: var(--baseBackground);
    content: ""
}

#em1Coll .cont_schedule .list_schedule li .txt_date {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    font-size: 1.6rem;
    color: var(--fcSub);
    line-height: 23px
}

#em1Coll .cont_schedule .list_schedule .schedule_card {
    margin-top: 10px;
    padding: 16px 16px 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid var(--colorB2);
    border-radius: 8px;
    font-size: 1.6rem;
    line-height: 1.4375
}

#em1Coll .cont_schedule .list_schedule .schedule_item {
    display: grid;
    grid-template-columns: max-content max-content auto;
    gap: 9px
}

#em1Coll .cont_schedule .list_schedule .schedule_item .txt_part {
    color: rgba(0, 0, 0, 0.6);
    color: var(--fcB3)
}

#em1Coll .cont_score .list_score {
    overflow: hidden
}

#em1Coll .cont_score .list_score li {
    border-bottom: 1px solid var(--colorB3);
    padding: 16px 0
}

#em1Coll .cont_score .list_score li .txt_name {
    font-size: 1.6rem;
    font-weight: bold
}

#em1Coll .cont_score .list_score li .txt_desc {
    font-size: 1.6rem;
    margin-top: 8px
}

#em1Coll .cont_score .list_score li .txt_num {
    font-size: 1.5rem;
    vertical-align: baseline
}

#em1Coll .cont_score .list_score .star {
    position: relative;
    display: inline-block;
    width: 79px;
    height: 16px;
    margin: 0 2px;
    vertical-align: text-top;
    background-image: url("data:image/svg+xml,%3Csvg width='79' height='17' viewBox='0 0 79 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.21468 0.878115C7.30449 0.601722 7.69551 0.601722 7.78532 0.878115L9.20316 5.24177C9.24332 5.36538 9.3585 5.44907 9.48847 5.44907H14.0767C14.3673 5.44907 14.4881 5.82095 14.253 5.99177L10.5411 8.68866C10.4359 8.76506 10.3919 8.90047 10.4321 9.02407L11.8499 13.3877C11.9397 13.6641 11.6234 13.894 11.3883 13.7231L7.67634 11.0263C7.57119 10.9499 7.42881 10.9499 7.32366 11.0263L3.61171 13.7231C3.3766 13.894 3.06026 13.6641 3.15006 13.3877L4.5679 9.02407C4.60806 8.90047 4.56407 8.76506 4.45892 8.68866L0.746969 5.99177C0.511855 5.82095 0.632688 5.44907 0.923305 5.44907H5.51153C5.6415 5.44907 5.75668 5.36538 5.79684 5.24177L7.21468 0.878115Z' fill='black' fill-opacity='0.16'/%3E%3Cpath d='M23.2147 1.24518C23.3045 0.968787 23.6955 0.968788 23.7853 1.24518L25.2032 5.60884C25.2433 5.73245 25.3585 5.81613 25.4885 5.81613H30.0767C30.3673 5.81613 30.4881 6.18802 30.253 6.35884L26.5411 9.05573C26.4359 9.13212 26.3919 9.26753 26.4321 9.39114L27.8499 13.7548C27.9397 14.0312 27.6234 14.261 27.3883 14.0902L23.6763 11.3933C23.5712 11.3169 23.4288 11.3169 23.3237 11.3933L19.6117 14.0902C19.3766 14.261 19.0603 14.0312 19.1501 13.7548L20.5679 9.39114C20.6081 9.26753 20.5641 9.13212 20.4589 9.05573L16.747 6.35884C16.5119 6.18802 16.6327 5.81613 16.9233 5.81613H21.5115C21.6415 5.81613 21.7567 5.73245 21.7968 5.60884L23.2147 1.24518Z' fill='black' fill-opacity='0.16'/%3E%3Cpath d='M39.2147 1.24518C39.3045 0.968787 39.6955 0.968788 39.7853 1.24518L41.2032 5.60884C41.2433 5.73245 41.3585 5.81613 41.4885 5.81613H46.0767C46.3673 5.81613 46.4881 6.18802 46.253 6.35884L42.5411 9.05573C42.4359 9.13212 42.3919 9.26753 42.4321 9.39114L43.8499 13.7548C43.9397 14.0312 43.6234 14.261 43.3883 14.0902L39.6763 11.3933C39.5712 11.3169 39.4288 11.3169 39.3237 11.3933L35.6117 14.0902C35.3766 14.261 35.0603 14.0312 35.1501 13.7548L36.5679 9.39114C36.6081 9.26753 36.5641 9.13212 36.4589 9.05573L32.747 6.35884C32.5119 6.18802 32.6327 5.81613 32.9233 5.81613H37.5115C37.6415 5.81613 37.7567 5.73245 37.7968 5.60884L39.2147 1.24518Z' fill='black' fill-opacity='0.16'/%3E%3Cpath d='M55.2147 1.24518C55.3045 0.968787 55.6955 0.968788 55.7853 1.24518L57.2032 5.60884C57.2433 5.73245 57.3585 5.81613 57.4885 5.81613H62.0767C62.3673 5.81613 62.4881 6.18802 62.253 6.35884L58.5411 9.05573C58.4359 9.13212 58.3919 9.26753 58.4321 9.39114L59.8499 13.7548C59.9397 14.0312 59.6234 14.261 59.3883 14.0902L55.6763 11.3933C55.5712 11.3169 55.4288 11.3169 55.3237 11.3933L51.6117 14.0902C51.3766 14.261 51.0603 14.0312 51.1501 13.7548L52.5679 9.39114C52.6081 9.26753 52.5641 9.13212 52.4589 9.05573L48.747 6.35884C48.5119 6.18802 48.6327 5.81613 48.9233 5.81613H53.5115C53.6415 5.81613 53.7567 5.73245 53.7968 5.60884L55.2147 1.24518Z' fill='black' fill-opacity='0.16'/%3E%3Cpath d='M71.2147 1.24518C71.3045 0.968787 71.6955 0.968788 71.7853 1.24518L73.2032 5.60884C73.2433 5.73245 73.3585 5.81613 73.4885 5.81613H78.0767C78.3673 5.81613 78.4881 6.18802 78.253 6.35884L74.5411 9.05573C74.4359 9.13212 74.3919 9.26753 74.4321 9.39114L75.8499 13.7548C75.9397 14.0312 75.6234 14.261 75.3883 14.0902L71.6763 11.3933C71.5712 11.3169 71.4288 11.3169 71.3237 11.3933L67.6117 14.0902C67.3766 14.261 67.0603 14.0312 67.1501 13.7548L68.5679 9.39114C68.6081 9.26753 68.5641 9.13212 68.4589 9.05573L64.747 6.35884C64.5119 6.18802 64.6327 5.81613 64.9233 5.81613H69.5115C69.6415 5.81613 69.7567 5.73245 69.7968 5.60884L71.2147 1.24518Z' fill='black' fill-opacity='0.16'/%3E%3C/svg%3E%0A")
}

#em1Coll .cont_score .list_score .star .star_on {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='79' height='17' viewBox='0 0 79 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.21468 0.878115C7.30449 0.601722 7.69551 0.601722 7.78532 0.878115L9.20316 5.24177C9.24332 5.36538 9.3585 5.44907 9.48847 5.44907H14.0767C14.3673 5.44907 14.4881 5.82095 14.253 5.99177L10.5411 8.68866C10.4359 8.76506 10.3919 8.90047 10.4321 9.02407L11.8499 13.3877C11.9397 13.6641 11.6234 13.894 11.3883 13.7231L7.67634 11.0263C7.57119 10.9499 7.42881 10.9499 7.32366 11.0263L3.61171 13.7231C3.3766 13.894 3.06026 13.6641 3.15006 13.3877L4.5679 9.02407C4.60806 8.90047 4.56407 8.76506 4.45892 8.68866L0.746969 5.99177C0.511855 5.82095 0.632688 5.44907 0.923305 5.44907H5.51153C5.6415 5.44907 5.75668 5.36538 5.79684 5.24177L7.21468 0.878115Z' fill='%23FC4C4E'/%3E%3Cpath d='M23.2147 1.24518C23.3045 0.968787 23.6955 0.968788 23.7853 1.24518L25.2032 5.60884C25.2433 5.73245 25.3585 5.81613 25.4885 5.81613H30.0767C30.3673 5.81613 30.4881 6.18802 30.253 6.35884L26.5411 9.05573C26.4359 9.13212 26.3919 9.26753 26.4321 9.39114L27.8499 13.7548C27.9397 14.0312 27.6234 14.261 27.3883 14.0902L23.6763 11.3933C23.5712 11.3169 23.4288 11.3169 23.3237 11.3933L19.6117 14.0902C19.3766 14.261 19.0603 14.0312 19.1501 13.7548L20.5679 9.39114C20.6081 9.26753 20.5641 9.13212 20.4589 9.05573L16.747 6.35884C16.5119 6.18802 16.6327 5.81613 16.9233 5.81613H21.5115C21.6415 5.81613 21.7567 5.73245 21.7968 5.60884L23.2147 1.24518Z' fill='%23FC4C4E'/%3E%3Cpath d='M39.2147 1.24518C39.3045 0.968787 39.6955 0.968788 39.7853 1.24518L41.2032 5.60884C41.2433 5.73245 41.3585 5.81613 41.4885 5.81613H46.0767C46.3673 5.81613 46.4881 6.18802 46.253 6.35884L42.5411 9.05573C42.4359 9.13212 42.3919 9.26753 42.4321 9.39114L43.8499 13.7548C43.9397 14.0312 43.6234 14.261 43.3883 14.0902L39.6763 11.3933C39.5712 11.3169 39.4288 11.3169 39.3237 11.3933L35.6117 14.0902C35.3766 14.261 35.0603 14.0312 35.1501 13.7548L36.5679 9.39114C36.6081 9.26753 36.5641 9.13212 36.4589 9.05573L32.747 6.35884C32.5119 6.18802 32.6327 5.81613 32.9233 5.81613H37.5115C37.6415 5.81613 37.7567 5.73245 37.7968 5.60884L39.2147 1.24518Z' fill='%23FC4C4E'/%3E%3Cpath d='M55.2147 1.24518C55.3045 0.968787 55.6955 0.968788 55.7853 1.24518L57.2032 5.60884C57.2433 5.73245 57.3585 5.81613 57.4885 5.81613H62.0767C62.3673 5.81613 62.4881 6.18802 62.253 6.35884L58.5411 9.05573C58.4359 9.13212 58.3919 9.26753 58.4321 9.39114L59.8499 13.7548C59.9397 14.0312 59.6234 14.261 59.3883 14.0902L55.6763 11.3933C55.5712 11.3169 55.4288 11.3169 55.3237 11.3933L51.6117 14.0902C51.3766 14.261 51.0603 14.0312 51.1501 13.7548L52.5679 9.39114C52.6081 9.26753 52.5641 9.13212 52.4589 9.05573L48.747 6.35884C48.5119 6.18802 48.6327 5.81613 48.9233 5.81613H53.5115C53.6415 5.81613 53.7567 5.73245 53.7968 5.60884L55.2147 1.24518Z' fill='%23FC4C4E'/%3E%3Cpath d='M71.2147 1.24518C71.3045 0.968787 71.6955 0.968788 71.7853 1.24518L73.2032 5.60884C73.2433 5.73245 73.3585 5.81613 73.4885 5.81613H78.0767C78.3673 5.81613 78.4881 6.18802 78.253 6.35884L74.5411 9.05573C74.4359 9.13212 74.3919 9.26753 74.4321 9.39114L75.8499 13.7548C75.9397 14.0312 75.6234 14.261 75.3883 14.0902L71.6763 11.3933C71.5712 11.3169 71.4288 11.3169 71.3237 11.3933L67.6117 14.0902C67.3766 14.261 67.0603 14.0312 67.1501 13.7548L68.5679 9.39114C68.6081 9.26753 68.5641 9.13212 68.4589 9.05573L64.747 6.35884C64.5119 6.18802 64.6327 5.81613 64.9233 5.81613H69.5115C69.6415 5.81613 69.7567 5.73245 69.7968 5.60884L71.2147 1.24518Z' fill='%23FC4C4E'/%3E%3C/svg%3E%0A")
}

#em1Coll .cont_photo .c-tit-section {
    border-top: 0 none
}

#em1Coll .cont_photo .c-list-photo .wrap_thumb.hide {
    display: none
}

#em1Coll .cont_photo .mg_cont {
    padding-bottom: 16px
}

#em1Coll .cont_photo q-photoswipe+.c-footer {
    margin-bottom: -16px
}
