:root {
  --s-color-back: #fff;
  --s-color-back-rgb: 255, 255, 255;
  --s-color-front: #000;
  --s-color-front-rgb: 0, 0, 0;
  --s-fc-back: var(--s-color-back);
  --s-fc-front: var(--s-color-front);
  --s-fc-basic: rgba(var(--s-color-front-rgb), 0.86);
  --s-fc-sub: rgba(var(--s-color-front-rgb), 0.76);
  --s-fc-opt: rgba(var(--s-color-front-rgb), 0.6);
  --s-fc-info: rgba(var(--s-color-front-rgb), 0.44);
  --s-color-link: #004bcc;
  --s-color-visited: #600f99;
  --s-color-blue: #4881f7;
  --s-color-blue2: #5b92fe;
  --s-color-blue3: #118eff;
  --s-color-blue4: #0089ff;
  --s-color-red: #fc4c4e;
  --s-color-red-rgb: 252, 74, 77;
  --s-color-red-line: rgba(var(--s-color-red-rgb), 0.44);
  --s-color-red-bg: rgba(var(--s-color-red-rgb), 0.12);
  --s-color-site: #18ba45;
  --s-color-mint: #18c4cc;
  --s-color-gray1: rgba(var(--s-color-front-rgb), 0.16);
  --s-color-gray2: rgba(var(--s-color-front-rgb), 0.1);
  --s-color-gray3: rgba(var(--s-color-front-rgb), 0.06);
  --s-color-gray4: rgba(var(--s-color-front-rgb), 0.04);
  --s-color-gray5: rgba(var(--s-color-front-rgb), 0.03);
  --s-color-gray6: rgba(var(--s-color-front-rgb), 0.032);
  --s-color-gray7: rgba(var(--s-color-front-rgb), 0.02);
}
:root {
  --s-fs-tag: 1.2rem;
  --s-fs-small: 1.4rem;
  --s-fs-sub: 1.5rem;
  --s-fs-base: 1.6rem;
  --s-fs-tit: 1.8rem;
  --s-fs-tit2: 2rem;
  --s-fs-tit-big: 2.2rem;
}
:root {
  --s-space-basic: 16px;
  --s-space-double: calc(var(--s-space-basic) * 2);
  --s-space-minus: calc(var(--s-space-basic) - var(--s-space-double));
  --s-space-grid: calc(var(--s-space-basic) - 2px);
  --s-space-grid-double: calc(var(--s-space-grid) * 2);
  --s-space-m: 20px;
  --s-space-vertical-base: 12px;
  --s-space-vertical-m: 20px;
  --s-size-width-mo: 660px;
}
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --s-color-back: #000;
    --s-color-back-rgb: 0, 0, 0;
    --s-color-front: #fff;
    --s-color-front-rgb: 255, 255, 255;
  }
}
body.samsung {
  --colorB1: #d6d6d6;
  --colorB1S: #cfcfcf;
  --colorB2: #e5e5e5;
  --colorB3: #f0f0f0;
  --colorB4: #f5f5f5;
  --colorB5: #fafafa;
  --fcB3: #666;
}
.q_toast_stack {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  position: fixed;
  left: var(--s-space-m);
  right: var(--s-space-m);
  bottom: var(--s-space-vertical-m);
  z-index: 130;
}
.q_toast_stack .toast_message {
  padding: 16px var(--s-space-basic);
  border-radius: 16px;
  font-size: var(--s-fs-small);
  line-height: 1.4285714286;
  background: #2c2e33;
  color: var(--s-fc-back);
  text-align: center;
  box-sizing: border-box;
}
div[disp-attr] .q_toast_stack {
  position: absolute;
}
@media (prefers-color-scheme: dark) {
  :root:not(.light) .mobile .q_toast_stack .toast_message {
    background-color: #f2f4f7;
  }
}
.pc .q_toast_stack {
  width: 500px;
  margin: 0 auto;
}
.pc div[disp-attr] .q_toast_stack {
  width: auto;
}
.q_select_option {
  position: relative;
}
.q_select_option .txt_selected {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 120px;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
}
.q_select_option .txt_selected .tit {
  margin-right: 2px;
}
.q_select_option .txt_selected .ico-pmpaf::after {
  position: absolute;
  top: 2px;
  width: 15px;
  height: 15px;
  margin-left: 2px;
  background-position: -20px -56px;
  transform: rotate(90deg);
  opacity: 0.6;
  filter: var(--iconInvert, none);
}
.q_select__open .q_select_option .txt_selected .ico-pmpaf::after {
  transform: rotate(270deg);
}
.q_select_option .opt_select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-appearance: none;
  opacity: 0;
}
.mobile .q_select_option .txt_selected {
  margin: 3px auto 0;
}
.mobile .q_select_option .txt_selected .tit {
  font-size: 1.6rem;
}
.mobile .q_select_option .ico-pmpaf::after {
  top: calc(50% - 7px);
}
.q_select .q_popover .wrap_popover {
  overflow-x: hidden;
  position: absolute;
  top: 32px;
  left: calc(50% - 80px);
  z-index: 5;
  border-radius: 12px;
  background-color: var(--baseBackground);
  border: 1px solid rgba(var(--baseForeground-rgb), 0.44);
  box-shadow: 0 4px 16px 0 rgba(var(--baseForeground-rgb), 0.12);
}
.q_select .q_popover .list_popover {
  overflow-y: auto;
  width: 160px;
  max-height: 338px;
  padding: 9px 0;
}
.q_select .q_popover .list_popover li {
  height: 34px;
}
.q_select .q_popover .list_popover li.on a {
  color: var(--s-color-blue);
  font-weight: 700;
}
.q_select .q_popover .list_popover li:hover a {
  color: var(--s-color-blue);
  font-weight: 700;
  background-color: rgba(72, 129, 247, 0.1215686275);
  text-decoration: none;
}
.q_select .q_popover .list_popover li a {
  overflow: hidden;
  display: block;
  height: 100%;
  padding: 0 11px;
  font-size: 15px;
  line-height: 34px;
  color: var(--fcSub);
  white-space: nowrap;
  text-overflow: ellipsis;
}
.q_popover.q_popover__close {
  display: none;
}
.q_flicking {
  display: block;
  overflow: hidden;
}
.q_tab .q_tab_header .on {
  font-weight: bold;
}
.q_tab .q_tab_contents > [slot="panel"] {
  display: none;
}
.q_tab .q_tab_contents > [slot="panel"].on {
  display: block;
}
.q_ellipsis .cont_ellipsis {
  display: inline;
  word-wrap: break-word;
  word-break: break-all;
}
.q_ellipsis .cont_ellipsis span[slot="text"] {
  margin-right: 4px;
}
.q_ellipsis .more_ellipsis {
  cursor: pointer;
  white-space: nowrap;
}
.q_ellipsis .more_ellipsis > a {
  color: var(--fcOpt);
}
.q_expand {
  position: relative;
}
.q_expand .btn_expand {
  display: block;
  text-align: center;
  height: 58px;
  line-height: 58px;
}
.q_expand .btn_expand .ico-pmp {
  width: 18px;
  height: 18px;
  filter: var(--iconInvert, none);
  transform: rotate(90deg);
  opacity: 0.6;
  background-position: -32px -56px;
  margin: 20px auto 0;
}
.q_expand.q_expand__close .btn_expand .ico-pmp {
  transform: rotate(270deg);
}
.q_expand.q_expand__loading .wrap_loading {
  display: flex;
  height: 58px;
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.q_tooltip .layer_tooltip {
  z-index: 98;
  display: inline-block;
  position: absolute;
  background: #fff;
  background: var(--layerBackground);
  border-radius: 12px;
  left: 16px;
  left: var(--mgSpace);
  margin-top: 25px;
  padding: 16px;
  font-size: 1.5rem;
  line-height: 1.4286;
  border: none;
  box-shadow: 0 4px 32px 0 rgba(0, 0, 0, 0.16);
  animation: effect-layer 0.2s;
}
.q_tooltip .layer_tooltip .tit_item {
  display: block;
  padding-right: 30px;
  color: #000;
  color: var(--fcBasic);
  margin-bottom: 6px;
}
.q_tooltip .layer_tooltip .main_area {
  display: block;
}
.q_tooltip .layer_tooltip .main_area .txt_info {
  color: #000;
  color: var(--fcBasic);
}
.q_tooltip .layer_tooltip .btn_close {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 19px 18px 9px 10px;
  line-height: 0;
}
.q_tooltip .layer_tooltip .btn_close .ico-pmp {
  width: 12px;
  height: 12px;
  background-position: -66px -76px;
  filter: var(--iconInvert, none);
  opacity: 0.35;
}
.q_tooltip .layer_tooltip::before {
  content: "";
  float: right;
  width: 20px;
  height: 20px;
}
.q_tooltip .layer_tooltip .info-basic {
  display: block;
}
.q_tooltip .layer_tooltip .info-basic .txt_subinfo {
  display: block;
  float: left;
  margin-right: 8px;
  color: var(--fcOpt);
  white-space: nowrap;
}
.q_tooltip .layer_tooltip .info-basic .txt_info {
  display: block;
  overflow: hidden;
  color: var(--fcSub);
  word-break: break-all;
}
.q_tooltip .layer_tooltip .info-basic + .info-basic {
  margin-top: 3px;
}
.q_tooltip .btn_info:hover {
  text-decoration: none;
}
.q_tooltip .sub_area {
  display: block;
  margin-top: 12px;
  padding-top: 13px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-top: 1px solid var(--colorB3);
}
.q_tooltip .sub_area .tit_info {
  margin-right: 8px;
  color: rgba(0, 0, 0, 0.44);
  color: var(--fcOpt);
}
.q_tooltip .sub_area .txt_info:only-child {
  color: var(--fcOpt);
}
.q_tooltip .sub_area .txt_info ._cubic {
  display: block;
}
.pc .q_tooltip {
  position: relative;
}
.pc .q_tooltip .layer_tooltip {
  left: 4px;
  max-width: 266px;
}
.pc .layer_tooltip {
  width: 200px;
  width: max-content;
  max-width: 360px;
}
.pc .layer_tooltip .btn_close:hover .ico-pmp {
  opacity: 1;
}
.pc .c-comp-utilbtn .item_util:hover .layer_tooltip {
  display: block;
  left: 0;
  max-width: none;
  top: 0;
  margin-top: 42px;
}
.pc .c-comp-utilbtn .item_util:hover .layer_tooltip .info-basic {
  display: block;
  white-space: nowrap;
}
.pc .c-comp-utilbtn .item_util:hover .layer_tooltip .info-basic:nth-child(2n) {
  margin-top: 6px;
}
.pc .c-comp-utilbtn .item_util:hover .layer_tooltip .main_area {
  padding-right: 0;
}
.pc .c-header .layer_tooltip {
  margin-top: 24px;
}
.c-header .q_tooltip {
  float: left;
}
.c-footer .q_tooltip .layer_tooltip {
  z-index: 99;
}
body.kc .layer_tooltip.tooltip_on::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  transform: translateY(40px);
}
.flipsnap_view .layer_tooltip.tooltip_on {
  bottom: 36px;
}
body.mobile .layer_tooltip {
  left: var(--mgSpaceDouble);
  right: var(--mgSpaceDouble);
}
.c-header .btn_info {
  float: left;
  margin-top: 1px;
  padding: 0.4rem 6px;
  line-height: 1;
}
.c-header .btn_info .i-info {
  vertical-align: top;
}
.gem-subdesc .q_tooltip .btn_info .i-info {
  margin-left: 0;
  margin-right: 0;
}
.gem-subdesc .q_tooltip .btn_info::before {
  content: " ";
}
.pswp.pswp-v5 {
  --pswp-bg: #000;
  --pswp-placeholder-bg: #222;
  --pswp-root-z-index: 100000;
  --pswp-preloader-color: rgba(79, 79, 79, 0.4);
  --pswp-preloader-color-secondary: rgba(255, 255, 255, 0.9);
  --pswp-icon-color: #fff;
  --pswp-icon-color-secondary: #4f4f4f;
  --pswp-icon-stroke-color: #4f4f4f;
  --pswp-icon-stroke-width: 2px;
  --pswp-error-text-color: var(--pswp-icon-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--pswp-root-z-index);
  display: none;
  touch-action: none;
  outline: 0;
  opacity: 0.003;
  contain: layout style size;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  will-change: opacity;
  overflow: hidden;
}
.pswp.pswp-v5:focus {
  outline: 0;
}
.pswp.pswp-v5 * {
  box-sizing: border-box;
}
.pswp.pswp-v5 img {
  max-width: none;
}
.pswp.pswp-v5.pswp--zoom-allowed .pswp__button--zoom {
  display: block;
}
.pswp.pswp-v5.pswp--open {
  display: block;
}
.pswp.pswp-v5.pswp--click-to-zoom.pswp--zoom-allowed .pswp__img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.pswp.pswp-v5.pswp--click-to-zoom.pswp--zoomed-in .pswp__img {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.pswp.pswp-v5.pswp--click-to-zoom.pswp--zoomed-in .pswp__img:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.pswp.pswp-v5.pswp--ui-visible .pswp__hide-on-close {
  opacity: 1;
  pointer-events: auto;
}
.pswp.pswp-v5.pswp--has_mouse .pswp__button--arrow {
  visibility: visible;
}
.pswp.pswp-v5 .pswp__caption--fake {
  visibility: hidden;
}
.pswp.pswp-v5 .pswp__caption--empty {
  display: none;
}
.pswp.pswp-v5 .pswp__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(27, 27, 29, 0.8);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.pswp.pswp-v5 .pswp__caption .pswp__caption__center {
  padding: 13px 80px 16px 20px;
}
.pswp.pswp-v5 .pswp__caption .tit_info {
  font-weight: normal;
  font-size: 15px;
  color: #fff;
}
.pswp.pswp-v5 .pswp__caption .wrap_subinfo {
  padding-top: 3px;
}
.pswp.pswp-v5 .pswp__caption .wrap_subinfo .txt_info {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  color: #919191;
  vertical-align: top;
}
.pswp.pswp-v5 .pswp__caption .wrap_subinfo .txt_info:not(:first-child):before {
  display: inline-block;
  width: 1px;
  height: 7px;
  margin: 4px 4px 0 2px;
  background-color: #575757;
  vertical-align: top;
  content: "";
}
.pswp.pswp-v5 .pswp__hide-on-close {
  opacity: 0.005;
  will-change: opacity;
  transition: opacity var(--pswp-transition-duration)
    cubic-bezier(0.4, 0, 0.22, 1);
  z-index: 10;
  pointer-events: none;
}
.pswp.pswp-v5 .pswp__bg {
  transform: translateZ(0);
  will-change: opacity;
  opacity: 0.005;
  background: var(--pswp-bg);
}
.pswp.pswp-v5 .pswp__scroll-wrap {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pswp.pswp-v5 .pswp__bg,
.pswp.pswp-v5 .pswp__container,
.pswp.pswp-v5 .pswp__item,
.pswp.pswp-v5 .pswp__content,
.pswp.pswp-v5 .pswp__img,
.pswp.pswp-v5 .pswp__zoom-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.pswp.pswp-v5 .pswp__img,
.pswp.pswp-v5 .pswp__zoom-wrap {
  width: auto;
  height: auto;
}
.pswp.pswp-v5 .pswp--no-mouse-drag.pswp--zoomed-in .pswp__img {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}
.pswp.pswp-v5 .pswp--no-mouse-drag.pswp--zoomed-in .pswp__img:active {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}
.pswp.pswp-v5 .pswp__img {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out;
}
.pswp.pswp-v5 .pswp__container,
.pswp.pswp-v5 .pswp__img,
.pswp.pswp-v5 .pswp__button,
.pswp.pswp-v5 .pswp__counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pswp.pswp-v5 .pswp__item {
  z-index: 1;
  overflow: hidden;
}
.pswp.pswp-v5 .pswp__hidden {
  display: none !important;
}
.pswp.pswp-v5 .pswp__content {
  pointer-events: none;
}
.pswp.pswp-v5 .pswp__content > * {
  pointer-events: auto;
}
.pswp.pswp-v5 .pswp__error-msg-container {
  display: grid;
}
.pswp.pswp-v5 .pswp__error-msg {
  margin: auto;
  font-size: 1em;
  line-height: 1;
  color: var(--pswp-error-text-color);
}
.pswp.pswp-v5 .pswp__button {
  position: relative;
  display: block;
  width: 50px;
  height: 60px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  background: none;
  border: 0;
  box-shadow: none;
  opacity: 0.85;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
}
.pswp.pswp-v5 .pswp__button:hover,
.pswp.pswp-v5 .pswp__button:active,
.pswp.pswp-v5 .pswp__button:focus {
  transition: none;
  padding: 0;
  background: none;
  border: 0;
  box-shadow: none;
  opacity: 1;
}
.pswp.pswp-v5 .pswp__button:disabled {
  opacity: 0.3;
  cursor: auto;
}
.pswp.pswp-v5 .pswp__icn {
  fill: var(--pswp-icon-color);
  color: var(--pswp-icon-color-secondary);
  position: absolute;
  top: 14px;
  left: 9px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  pointer-events: none;
}
.pswp.pswp-v5 .pswp__icn-shadow {
  stroke: var(--pswp-icon-stroke-color);
  stroke-width: var(--pswp-icon-stroke-width);
  fill: none;
}
.pswp.pswp-v5 .pswp__icn:focus {
  outline: 0;
}
.pswp.pswp-v5 div.pswp__img--placeholder,
.pswp.pswp-v5 .pswp__img--with-bg {
  background: var(--pswp-placeholder-bg);
}
.pswp.pswp-v5 .pswp__top-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 50px;
  padding: 0 0 0 3px;
  box-sizing: border-box;
  background-color: rgba(27, 27, 29, 0.8);
  text-align: right;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.pswp.pswp-v5 .pswp__top-bar > * {
  pointer-events: auto;
  will-change: opacity;
}
.pswp.pswp-v5 .pswp__button--close {
  margin-right: 6px;
  opacity: 1;
}
.pswp.pswp-v5 .pswp__button--arrow {
  position: absolute;
  width: 75px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
}
.pswp.pswp-v5 .pswp__button--arrow:disabled {
  display: none;
  cursor: default;
}
.pswp.pswp-v5 .pswp__button--arrow .pswp__icn {
  top: 50%;
  margin-top: -30px;
  width: 60px;
  height: 60px;
  background: none;
  border-radius: 0;
}
.pswp.pswp-v5 .pswp--one-slide .pswp__button--arrow {
  display: none;
}
.pswp.pswp-v5 .pswp__button--arrow--prev {
  right: auto;
  left: 0;
}
.pswp.pswp-v5 .pswp__button--arrow--next {
  right: 0;
}
.pswp.pswp-v5 .pswp__button--arrow--next .pswp__icn {
  left: auto;
  right: 14px;
  transform: scale(-1, 1);
}
.pswp.pswp-v5 .pswp__button--zoom {
  display: none;
}
.pswp.pswp-v5 .pswp--zoomed-in .pswp__zoom-icn-bar-v {
  display: none;
}
.pswp.pswp-v5 .pswp__preloader {
  display: none;
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 60px;
  margin-right: auto;
}
.pswp.pswp-v5 .pswp__preloader .pswp__icn {
  opacity: 0;
  transition: opacity 0.2s linear;
  animation: pswp-clockwise 600ms linear infinite;
}
.pswp.pswp-v5 .pswp__preloader--active .pswp__icn {
  opacity: 0.85;
}
.pswp.pswp-v5 .pswp__counter {
  height: 30px;
  margin-top: 15px;
  margin-inline-start: 20px;
  font-size: 14px;
  line-height: 30px;
  color: var(--pswp-icon-color);
  text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
  opacity: 0.85;
}
.pswp.pswp-v5 .pswp--one-slide .pswp__counter {
  display: none;
}
.pswp.pswp-v5 slot-fb {
  display: contents;
}
.pswp.pswp-v5 slot-fb[hidden] {
  display: none;
}
.pswp-v5.pswp .pswp__button svg {
  display: none;
}
.pswp-v5.pswp .pswp__button::before {
  background: url("https://search1.daumcdn.net/search/statics/common/ico/photoswipe/ico_photoswipe_250726.svg")
    no-repeat 0 0;
  background-size: 52px 32px;
}
.pswp-v5.pswp .pswp__button--zoom {
  display: none;
}
.pswp-v5.pswp .pswp__button--close::before {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 20px;
  height: 20px;
  background-position: -28px 0;
  margin-top: 0;
  content: "";
}
.pswp-v5.pswp .pswp__button--arrow::before {
  position: absolute;
  top: calc(50% - 16px);
  width: 24px;
  height: 32px;
  content: "";
}
.pswp-v5.pswp .pswp__button--arrow--prev::before {
  left: 11px;
}
.pswp-v5.pswp .pswp__button--arrow--next::before {
  rotate: 180deg;
  right: 11px;
}
.pswp-v5.pswp .pswp__top-bar {
  padding: 0;
  height: 64px;
  background-color: transparent;
}
.pswp-v5.pswp .pswp__top-bar::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  opacity: 60%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.9) 100%
  );
  content: "";
}
.pswp-v5.pswp .pswp__top-bar .pswp__button--close {
  position: absolute;
  top: 0;
}
.pswp-v5.pswp .pswp__top-bar .pswp__paging {
  height: 50px;
  margin: 0;
  color: #fff;
  opacity: 1;
  text-shadow: none;
  margin-inline-start: auto;
  font-size: 1.5rem;
  line-height: 50px;
  text-align: center;
}
.pswp-v5.pswp .pswp__top-bar .pswp__copyright {
  position: absolute;
  width: 100%;
  top: 16px;
  right: 16px;
}
.pswp-v5.pswp .pswp__top-bar .pswp__copyright .i-info {
  width: 20px;
  height: 20px;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  border: 1px solid #fff;
}
.pswp-v5.pswp .pswp__top-bar .pswp__copyright .layer_tooltip {
  left: auto;
  top: 4px;
  right: 0;
  width: 240px;
  text-align: left;
}
.pswp-v5.pswp .pswp__top-bar .pswp__copyright .pswp__copyright-copyright {
  float: left;
  margin-right: 16px;
  color: var(--fcOpt);
}
.pswp-v5.pswp .pswp__top-bar .pswp__copyright .pswp__copyright-source {
  overflow: hidden;
  display: block;
  color: var(--fcSub);
}
.pswp-v5.pswp .pswp__caption {
  padding: 22px 16px 16px;
  background-color: transparent;
}
.pswp-v5.pswp .pswp__caption::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  opacity: 60%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.9) 100%
  );
  content: "";
}
.pswp-v5.pswp .pswp__caption .pswp__caption-icon.adult {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
.pswp-v5.pswp .pswp__caption .pswp__caption-icon.adult::before {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #fff;
  background: #ff4e33;
  vertical-align: top;
  content: "19";
}
.pswp-v5.pswp .pswp__caption .pswp__caption-title {
  position: relative;
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  font-size: 1.5rem;
}
.pswp-v5.pswp .pswp__caption .pswp__caption-description {
  position: relative;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.4rem;
}
.pc .pswp-v5.pswp .pswp__caption {
  padding-left: 20px;
}
.pc .pswp-v5.pswp .pswp__button--close::before {
  left: 20px;
}
.pc .pswp-v5.pswp .pswp__button--arrow--prev::before {
  left: 15px;
}
.pc .pswp-v5.pswp .pswp__button--arrow--next::before {
  right: 15px;
}
@keyframes pswp-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
